$black: #000000;
$white: #EEEEEE;
$red: #B72731;
$dark-grey: #222222;
$medium-grey: #555555;

.black-color {
	color: $black;
	fill: $black;
}
.black-bg {
	background: $white;
}
.white-color {
	color: $white;
	fill: $white;
}
.white-bg {
	background: $white;
}
.red-color {
	color: $red;
	fill: $red;
}
.red-bg {
	background: $red;
}
.dark-grey-color {
	color: $dark-grey;
	fill: $dark-grey;
}
.dark-grey-bg {
	background: $dark-grey;
}
.medium-grey-color {
	color: $medium-grey;
	fill: $medium-grey;
}
.medium-grey-bg {
	background: $medium-grey;
}